{{ define "cell_error" }}
<div class="alert alert-danger" role="alert">
  <strong>{{ .Title }} error:</strong>
  <div><small>{{ .Message }}</small></div>
  <div><small>{{ .Detail }}</small></div>
</div>
{{ end }}

